:root {
  --color-primary: #eb2f64;
  --color-primary-light: #ff3366;
  --color-primary-dark: #ba265d;

  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;

  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;

  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);

  --line: 2px solid var(--color-grey-light-2);
}

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  min-height: 100vh;
}

.landing {
  margin: 0 10rem 0 10rem;
}

.landing--header {
  padding: 5rem 3rem 3rem 3rem;
  background-color: var(--color-grey-light-2);
}

.custom-google-signin {
  width: 204px; /* Adjust the width as needed */
  margin: 0;
  text-align: left;
}

.heading {
  font-size: 5rem;
  margin-bottom: 5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.subHeading {
  font-size: 3rem;
  display: block;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  white-space: pre-line;
}

.divider {
  margin-top: 7rem;
  margin-bottom: 4rem;
}

.footer {
  display: flex;
  margin-bottom: 5rem;
}

.footer--else {
  margin: 5rem 10rem 5rem 10rem;
}

div.footer > a {
  margin-right: 5px;
  text-decoration: none;
  color: var(--color-grey-dark-2);
  font-size: 1.5rem;
}

.feature {
  margin: 4rem 5rem 8rem 5rem;
  justify-content: space-between;
  align-items: center;
  white-space: pre-line;
}

.feature--text {
  font-size: 3rem;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.base-container {
  display: flex;
  flex-direction: column;
}

.fade {
  -webkit-transition: opacity 0.12s linear;
  -moz-transition: opacity 0.12s linear;
  -ms-transition: opacity 0.12s linear;
  -o-transition: opacity 0.12s linear;
  transition: opacity 0.12s linear;
}

#videoModal {
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -ms-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

header {
  height: 8rem;
}

.user-nav {
  display: flex;
}

.user-nav__user-photo {
  height: 3.25rem;
  border-radius: 50%;
  margin-top: 2rem;
  margin-right: 2rem;
  margin-left: auto;
}

.second-container {
  display: flex;
}

.sidebar {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  flex: 0 0 25vh;
}

.sidebar__each-folder:hover {
  background-color: var(--color-grey-light-2);
  display: block;
}

.nav-link {
  color: #383838;
  line-height: 4rem;
}

.icon-folder-open {
  width: 2rem;
  height: 2rem;
  fill: rgba(184, 184, 184, 0.897);
  margin-right: 2rem;
}

main {
  padding-left: 2rem;
  padding-top: 2rem;
  background-color: var(--color-grey-light-1);
  min-height: 95vh;
}

.video-container {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
}

.content {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
}

.thumbnail {
  margin-right: 1.3rem;
  margin-bottom: 10rem;
  font-size: 1.3rem;
  width: 24rem;
  height: 20rem;
}

.thumbnail__link,
.thumbnail__link:hover {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: inherit;
}

.thumbnail__title {
  margin-top: 1rem;
  margin-bottom: 0.8rem;

  font-size: 1.3rem;
  font-weight: 550;
}

.thumbnail__img {
  height: 16rem;
}

.thumbnail__channel {
  display: flex;
}

.thumbnail__channel--img {
  margin-right: 0.8rem;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
}

.thumbnail__channel--name,
.thumbnail__channel--name:hover {
  text-decoration: none;
  color: var(--color-grey-dark-2);
  display: block;
}

.thumbnail__detail {
  color: var(--color-grey-dark-2);
  display: block;
}

/* list */

.list__content {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 5rem;
}

.list__plus-folder {
  font-size: 1.3rem;
  width: 10rem;
  padding: 1rem 0;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  background-color: var(--color-grey-light-4);
}

.folders {
  border: var(--line);
}

.folder {
  display: flex;
  height: 5rem;
  align-items: center;
  font-size: 1.6rem;
  border-radius: 2%;
  padding-left: 3rem;
  border-top: var(--line);
}

.folder:first-child {
  /* 첫번째에만 border 제외. 이미 적용 되니까 */
  border-top: none;
}

.folder:hover {
  background-color: var(--color-grey-light-2);
}

.folder:hover .folder__hover--icon {
  display: block;
}

.folder__hover--icon {
  margin-left: auto;
  margin-right: 10rem;
  display: none;
}

.folder__plus-channel {
  font-size: 1.3rem;
  padding: 0.6rem;
  margin-right: 2rem;
  border-radius: 10%;
}

.folder__plus-channel:hover {
  background-color: var(--color-grey-light-4);
}

.folder__icon {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  fill: var(--color-grey-dark-3);
  margin: 0 0.5rem;
}

/* modal */

.modal-body {
  padding-bottom: 0;
}

.modal__content--createFolder {
}

.modal__footer--createFolder {
  border-top: none;
}

.modal-header {
  border-bottom: none;
  padding-left: 1.5rem;
}

.modal__folder--label {
  font-size: 1.4rem;
}

.modal__content--addChannel {
  height: 70vh;
  border-radius: 0.7%;
}

.modal__icon-folder-open {
  width: 2rem;
  height: 2rem;
  fill: rgba(184, 184, 184, 0.897);
  margin-right: 1rem;
}

.modal__search {
  margin-top: 2rem;
  display: flex;
  padding-bottom: 1rem;
  margin-right: 5rem;
  margin-bottom: 5rem;
}

.modal__search--input {
  border: none;
  border-bottom: var(--line);
  flex: 1;
  font-size: 1.5rem;
  padding-left: 2rem;
  padding-bottom: 0.5rem;
}

.modal__search--error {
  color: red;
  font-size: 1.2rem;
  margin-left: 2rem;
  margin-top: -3rem;
  visibility: visible;
}

.modal__search--input:focus::placeholder {
  color: transparent;
  transition: 0.2s;
}

.modal__search--input:focus {
  outline: none;
}

.modal__search--icon {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
}

.modal__channel {
  border-bottom: var(--line);
}

.modal__channel:hover {
  background-color: var(--color-grey-light-2);
}

.modal__channel:last-child {
  border-bottom: none;
}

.modal__channel--checkbox {
  transform: scale(1.7);
  accent-color: var(--color-grey-dark-2);
  margin-left: 1rem;
  margin-right: 1.5rem;
}

.modal__channel--avatar {
  margin-left: 2rem;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
}

.modal__channel--name {
  margin-left: 3rem;
  font-size: 1.3rem;
}

.modal__footer--btn {
  height: 3rem;
  width: 5rem;
  font-size: 1.4rem;
  margin-right: 1rem;
  margin-left: auto;
}
