{% extends "base.html" %}

{% block content %}
<main class="content">
  {% for video in videos %}
  <div class="thumbnail">
    <a href="#" class="thumbnail__link">
      <img class="thumbnail__img" src={{ video.thumbnail_img }} alt="섬네일">
      <span class="thumbnail__title">{{ video.title }}</span>
      <div class="thumbnail__channel">
        <img class="thumbnail__channel--img"
          src="https://yt3.ggpht.com/ytc/AKedOLRRjGuN-GPWubsrcVN8jyhnELYRIfWG03gBR7fGrg=s68-c-k-c0x00ffffff-no-rj"
          alt="채널 이미지">
        <a href="#" class="thumbnail__channel--name">HYBE LABELS</a>
      </div>
      <span class="thumbnail__detail">
        <span class="thumbnail__views">조회수 {{ video.view_counts }}회</span>
        <span class="thumbnail__date">{{ video.published_date }}</span>
    </a>
  </div>
  {% endfor %}
</main>

{% endblock %}