{% extends "base.html" %}

{% block content %}
<main class="content">
  {% for thumbnail in thumbnails %}
    <div class="thumbnail">
      <a href="#" class="thumbnail__link">
        <img class="thumbnail__img" src={{ thumbnail.img_url }} alt="섬네일">
        <span>{{ thumbnail.title }}</span>
        <a href="#" class="thumbnail__channel--link">채널이름</a>
        <span class="thumbnail__detail"> {{ thumbnail.view_counts }} {{ thumbnail.published_at }} </span>
      </a>
    </div>
  {% endfor %}
</main>

{% endblock %}