<!doctype html>
<html lang="en">

<head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="title" content="folderbe" />
    <meta name="description" content="group your youtube channels by folder" />
    <meta
      name="keywords"
      content="folderbe,폴더브,youtube api,youtube channels,group"
    />
    <meta name="robots" content="index, follow" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="language" content="English" />
    <meta name="author" content="ssoonan" />
    {% block styles %}
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }}
    <link rel="stylesheet" href={{ url_for('static', filename='style.css' ) }}>
    
    {% endblock %}
    
    <title>folderbe</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    {% endblock %}
</head>

<body>
    <div class="base-container">
        <header>
            <div class="user-nav">
                <img src="{{ session['user_img'] }}" alt="User Photo" class="user-nav__user-photo">
            </div>
        </header>
        <div class="second-container">
            <nav class="sidebar p-3">
                <div class="text-center mb-4">
                    <a href={{ url_for('main.folders') }} class="text-dark text-decoration-none">구독 그룹 ></a>
                </div>
                <ul class="list-unstyled flex-column">
                    {% for folder in g.folders %}
                    <li class="py-3 sidebar__each-folder">
                        <a href="{{ url_for('main.folder_videos', folder_id=folder.folder_id) }}"
                            class="nav-link text-decoration-none">
                            <svg class="icon icon-folder-open ms-4">
                                <use href="/static/svg/sprite.svg#icon-folder-open"></use>
                            </svg>
                            <span>{{ folder.name }}</span>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </nav>
            {% if session.get('access_token') is none %}
            <main class="content">
                <div id="g_id_onload"
                    data-client_id="244920735056-q17g2cqouhmf5maqe3g2ugkkp6qfr82n.apps.googleusercontent.com"
                    data-context="signin"
                    data-ux_mode="redirect"
                    data-login_uri="https://folderbe.com/auth/authorize"
                    data-auto_prompt="false">
                    <!-- data-login_uri="https://localhost:5050/auth/authorize" -->
                </div>

                <div class="g_id_signin"
                    data-type="standard"
                    data-shape="rectangular"
                    data-theme="outline"
                    data-text="signin_with"
                    data-size="large"
                    data-logo_alignment="left">
                </div>
                {% endif %}
                {% block content %}{% endblock %}
            </div>
        </main>
    </div>

    {{ bootstrap.load_js() }}
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="module">
        import { createApp, ref } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js'
        createApp({
          setup() {
            const message = ref('Hello Vue!')
            return {
              message
            }
          },
          delimiters: ['[[', ']]']
        }).mount('#appp')
      </script>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    {% block scripts %}
    {% endblock %}
</body>

</html>