<!doctype html>
<html lang="en">

<head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block styles %}
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }}
    <link rel="stylesheet" href={{ url_for('static', filename='style.css' ) }}>

    {% endblock %}

    <title>folderbe</title>
    {% endblock %}
</head>

<body>
    <div class="d-flex base-container">
        <header>
            <div class="user-nav">
                <img src="{{ session['user_img'] }}" alt="User Photo" class="user-nav__user-photo">
            </div>
        </header>
        <div class="d-flex">
            <nav class="sidebar d-flex flex-column p-3">
                <div class="text-center mb-4">
                    <a href={{ url_for('main.list') }} class="text-dark text-decoration-none">구독 그룹 ></a>
                </div>
                <ul class="list-unstyled flex-column">
                    {% for folder in g.folders %}
                    <li class="">
                        <a href="{{ url_for('main.folder_videos', folder_id=folder.folder_id) }}"
                            class="nav-link text-decoration-none">
                            <svg class="icon icon-folder-open">
                                <use href="/static/svg/sprite.svg#icon-folder-open"></use>
                            </svg>
                            <span>{{ folder.name }}</span>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                <div class="legal mt-auto">
                    &copy folderbe
                </div>
            </nav>
            {% block content %}{% endblock %}
        </div>
    </div>

    {{ bootstrap.load_js() }}
    {% block scripts %}
    {% endblock %}
</body>

</html>