{% extends "base.html" %}

{% block content %}
<main class="content">
  {% for video in videos %}
  <div class="thumbnail">
    <a href="#" class="thumbnail__link">
      <img class="thumbnail__img" src={{ video.thumbnail_img }} alt="섬네일">
      <span class="thumbnail__title">{{ video.title }}</span>
      <div class="thumbnail__channel">
        <img class="thumbnail__channel--img"
          src="{{ video.channel.icon_img }}"
          alt="채널 이미지">
        <span class="thumbnail__channel--name">HYBE LABELS</span>
      </div>
      <span class="thumbnail__detail">
        <span class="thumbnail__views">조회수 {{ video.view_counts }}회</span>
        <span class="thumbnail__date">{{ video.published_date }}</span>
    </a>
  </div>
  {% endfor %}
</main>

{% endblock %}