{% extends "base.html" %}

{% block content %}
<main class="list__content">
  <button class="list__plus-folder btn" data-bs-toggle="modal" data-bs-target="#createFolder"><span>새 폴더
      생성</span></button>
  <div class="folders">
    {% for folder in g.folders %}
    <div class="folder" id="folderId_{{ folder.folder_id }}">
      <svg class="icon-folder-open">
        <use href="/static/svg/sprite.svg#icon-folder-open"></use>
      </svg>
      <span class="folder__name">{{ folder.name }}</span>
      <div class="folder__hover--icon">
        {% if folder.folder_id == -1 %}
        <button class="folder__plus-channel btn btn-light"><span>채널 추가</span></button>
        {% else %}
        <button class="folder__plus-channel btn btn-light" data-bs-toggle="modal"
          data-bs-target="#exampleModal"><span>채널 추가</span></button>
        {% endif %}
        <!-- <svg class="folder__icon">
          <use class="folder__edit" href="/static/svg/sprite.svg#icon-pencil"></use>
        </svg> -->
        <svg class="folder__icon">
          <use class="folder__remove" href="/static/svg/sprite.svg#icon-bin2"></use>
        </svg>
      </div>
    </div>
    {% endfor %}
  </div>


  <div class="modal fade" id="createFolder" tabindex="-1" aria-labelledby="createFolderLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content modal__content--createFolder">
        <div class="modal-header ">
          <h3 class="modal-title" id="createFolderLabel">새 폴더 생성</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="createFolder--form">
            <div class="d-flex flex-column">
              <input type="text" name="folder_name" class="modal__search modal__search--input" placeholder="폴더 이름">
              <p id="folder--message"></p>
              <button class="btn btn-secondary modal__footer--btn">저장</button>
            </div>
          </form>
        </div>
        <div class="modal-footer modal__footer--createFolder">
        </div>
      </div>
    </div>
  </div>


  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
      <div class="modal-content  modal__content--addChannel">
        <div class="modal-header">
          <svg class="modal__icon-folder-open">
            <use href="/static/svg/sprite.svg#icon-folder-open"></use>
          </svg>
          <h4 class="modal-title" id="exampleModalLabel">채널 추가</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body d-flex flex-column">
          <div class="modal__search">
            <svg class="modal__search--icon">
              <use href="/static/svg/sprite.svg#icon-magnifying-glass"></use>
            </svg>
            <input type="text" class="modal__search--input" placeholder="검색">
          </div>
          <form id="folderChannel--form">
            {% for channel in channels %}
            <label class="modal__channel d-flex align-items-center pt-2 pb-2">
              <input data-folder_ids="{{ channel.folder_ids }}" class="modal__channel--checkbox" type="checkbox"
                name="{{ channel.channel_id }}" value="true">
              <div class=""><img class="modal__channel--avatar" src="{{ channel.icon_img }}" referrerpolicy="no-referrer" alt=""></div>
              <span class="modal__channel--name">{{ channel.name }}</span>
            </label>
            {% endfor %}
          </form>
        </div>
      </div>
    </div>
  </div>



</main>

{% endblock %}
{% block scripts %}
<script type="text/javascript">

  const folderForm = document.getElementById("createFolder--form");
  folderForm.addEventListener("submit", function (e) {
    e.preventDefault();
    if (!document.getElementsByClassName("modal__search--input")[0].value) {
      const inputTag = document.querySelector("#folder--message");
      inputTag.textContent = "폴더 이름을 입력하세요.";
      inputTag.classList.add("modal__search--error");
      return
    };
    const payload = new FormData(folderForm);
    fetch("/folders", {
      method: "POST",
      body: payload
    })
      .then(res => {
        if (res.status == 400) {
          const inputTag = document.querySelector("#folder--message");
          inputTag.textContent = "이미 존재하는 폴더 이름입니다.";
          inputTag.classList.add("modal__search--error");
        }
        if (res.status == 200) {
          window.location.reload()
        }
      }
      );
  });

  const folderChannelForm2 = document.getElementById("folderChannel--form");
  const channelCheckboxes = document.querySelectorAll(".modal__channel--checkbox")
  channelCheckboxes.forEach(function (channel, idx) {
    channel.addEventListener("click", function (event) {
      const folderId = folderChannelForm2.dataset.folderId;
      let request_body = {
        method: 'POST',
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
          },
        body: JSON.stringify({"channel_id": channel.name})
      }
      if (channel.checked === false) {
        request_body.method = "DELETE"
      }
      fetch(`/folder/${folderId}/`, request_body)
    }
  )}
  )


  // 폴더 생성 시 input에 autofocus
  const folderModal = document.getElementById("createFolder");
  folderModal.addEventListener("shown.bs.modal", () => document.getElementsByName("folder_name")[0].focus());


  const folderClass = document.querySelectorAll(".folder")
  folderClass.forEach(function (folder, idx) {
    folder.addEventListener("click", function (event) {
      const folderId = this.id.split('_')[1];
      const tagName = event.target.tagName.toLowerCase();
      const parentTagName = event.target.parentElement.tagName.toLowerCase();
      // 채널 추가 클릭 시의 행동

      if (tagName === "button" || parentTagName === "button") {
        if (folderId === "-1") {
          alert("좋아요 표시 영상 폴더엔 채널을 추가할 수 없습니다")
          return
        }
        const folderChannelForm = document.getElementById("folderChannel--form");
        folderChannelForm.dataset.folderId = folderId;
        fetch(`/folder/${folderId}/`, {
          method: 'GET'
        })
          .then(res => res.json())
          .then(data => {
            let channelIds = data['channel_ids']
            const channels = document.querySelectorAll(".modal__channel--checkbox");
            for (let channel of channels) {
              if (channelIds.includes(channel.name)) {
                channel.checked = true;
              }
              else {
                channel.checked = false;
              }
            }
          })
      }

      if (event.target.className.baseVal == 'folder__remove') {
        if (parseInt(folderId) == -1) {
          alert("좋아요 표시 영상 폴더는 삭제할 수 없습니다")
          return
        }
        fetch("/folders", {
          method: "DELETE",
          headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ "id": folderId })
        })
          .then(res => {
            if (res.status == 200) {
              window.location.reload()
            }
          })
      }
    })
  })
</script>
{% endblock %}