{% extends "base.html" %}

{% block content %}
<main class="list__content">
  <button class="list__plus-folder btn" data-bs-toggle="modal" data-bs-target="#createFolder"><span>새 폴더
      생성</span></button>
  <div class="folders">
    {% for folder in g.folders %}
    <div class="folder">
      <svg class="icon-folder-open">
        <use href="/static/svg/sprite.svg#icon-folder-open"></use>
      </svg>
      <span class="folder__name">{{ folder.name }}</span>
      <div class="folder__hover--icon">
        <button class="folder__plus-channel btn btn-light" data-bs-toggle="modal"
          data-bs-target="#exampleModal"><span>채널 추가</span></button>

        <svg class="folder__icon">
          <use href="/static/svg/sprite.svg#icon-pencil"></use>
        </svg>


        <svg class="folder__icon">
          <use href="/static/svg/sprite.svg#icon-bin2"></use>
        </svg>

      </div>
    </div>
    {% endfor %}
  </div>


  <div class="modal fade" id="createFolder" tabindex="-1" aria-labelledby="createFolderLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content modal__content--createFolder">
        <div class="modal-header ">
          <h3 class="modal-title" id="createFolderLabel">새 폴더 생성</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="createFolder--form">
            <div class="d-flex flex-column">
              <input type="text" name="folder_name" class="modal__search modal__search--input" placeholder="폴더 이름">
              <p id="folder--message"></p>
              <button class="btn btn-secondary modal__footer--btn">저장</button>
            </div>
          </form>
        </div>
        <div class="modal-footer modal__footer--createFolder">
        </div>
      </div>
    </div>
  </div>


  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
      <div class="modal-content  modal__content--addChannel">
        <div class="modal-header">
          <svg class="modal__icon-folder-open">
            <use href="/static/svg/sprite.svg#icon-folder-open"></use>
          </svg>
          <h4 class="modal-title" id="exampleModalLabel">채널 추가</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body d-flex flex-column">
          <div class="modal__search">
            <svg class="modal__search--icon">
              <use href="/static/svg/sprite.svg#icon-magnifying-glass"></use>
            </svg>
            <input type="text" class="modal__search--input" placeholder="검색">
          </div>
          <label class="modal__channel d-flex align-items-center pt-2 pb-2">
            <input class="modal__channel--checkbox" type="checkbox">
            <div class=""><img class="modal__channel--avatar"
                src="https://yt3.ggpht.com/ytc/AKedOLSuecR9F68V1OFY9hrKoK-xxU79IVXgGCpf33RO=s88-c-k-c0x00ffffff-no-rj"
                alt=""></div>
            <span class="modal__channel--name">남자 커피 Namja Coffee</span>
          </label>
          <label class="modal__channel d-flex align-items-center pt-2 pb-2">
            <input class="modal__channel--checkbox" type="checkbox">
            <div class=""><img class="modal__channel--avatar"
                src="https://yt3.ggpht.com/ytc/AKedOLSuecR9F68V1OFY9hrKoK-xxU79IVXgGCpf33RO=s88-c-k-c0x00ffffff-no-rj"
                alt=""></div>
            <span class="modal__channel--name">남자 커피 Namja Coffee</span>
          </label>
          <label class="modal__channel d-flex align-items-center pt-2 pb-2">
            <input class="modal__channel--checkbox" type="checkbox">
            <div class=""><img class="modal__channel--avatar"
                src="https://yt3.ggpht.com/ytc/AKedOLSuecR9F68V1OFY9hrKoK-xxU79IVXgGCpf33RO=s88-c-k-c0x00ffffff-no-rj"
                alt=""></div>
            <span class="modal__channel--name">남자 커피 Namja Coffee</span>
          </label>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary modal__footer--btn" data-bs-dismiss="modal">저장</button>
        </div>
      </div>
    </div>
  </div>



</main>

{% endblock %}
{% block scripts %}
<script type="text/javascript">

  const folderModal =  document.getElementById("createFolder--form");
  folderModal.addEventListener("submit", function(e) {
    e.preventDefault();
    const payload = new FormData(folderModal);
    fetch("/list", {
      method: "POST",
      body: payload
    })
      .then(function(res) {
        if (res.status == 400) {
          const inputTag = document.querySelector("#folder--message");
          inputTag.textContent = "이미 존재하는 폴더 이름입니다.";
          inputTag.classList.add("modal__search--error");
        }
        if (res.redirected) {
          window.location = res.url
        }
      })
      
  })
</script>
{% endblock %}